<!-- views/addManager.ejs -->

<h1>Add Manager</h1><br />

<form action="/managers/add/add" method="post">
    <p>Manager ID <input name="managerID" type="text" /></p>
    <p>Name <input type="text" name="managerName"  /></p>
    <p>Salary <input type="text" name="managerSalary" /></p>
    <input type="submit" value="Add">
</form>
