<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Managers</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }
        table, th, td {
            border: 1px solid black;
        }
        th, td {
            padding: 10px;
            text-align: left;
        }
        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
    <h1>Managers (MongoDB)</h1>
    <a href="/managers/add">Add Manager (MongoDB)</a>
    <table>
        <tr>
            <th>Manager ID</th>
            <th>Name</th>
            <th>Salary</th>
        </tr>
        <% managers.forEach(function(manager) { %>
            <tr>
                <td><%= manager._id %></td>
                <td><%= manager.name %></td>
                <td><%= manager.salary.toFixed(2) %></td>
            </tr>
        <% }); %>
    </table>
    <a href="/">Home</a>
</body>
</html>
